:root {
    --navbar-hidden: rgba(44, 62, 80, 0.9);
    --text-color: #fff;
}

/*#region HEADER*/
header, header ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header {
    color: var(--text-color);
    background: #B9382A;
    height: 80px;
    width: 100%;
}

nav.sticky {
    margin: 0;
    height: 77px;
    color: #000;
    opacity: 0.7;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    color: var(--text-color);
}

nav ul li {
    display: block;
}

nav .checkBtn {
    font-size: 25px;
    color: var(--text-color);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

nav #check {
    display: none;
}

nav #check:checked ~ ul {
    left: 0;
}
/*#region Phải qua trái*/
/*nav ul {*/
/*    position: fixed;*/
/*    width: 40%;*/
/*    height: 200px;*/
/*    margin-left: 60%;*/
/*    padding-left: 20px;*/
/*    background: var(--navbar-hidden);*/
/*    box-shadow: 0 5px 20px #888888;*/
/*    border-top-left-radius: 10px;*/
/*    border-bottom-left-radius: 10px;*/
/*    top: 80px;*/
/*    left: 100%;*/
/*    text-align: left;*/
/*    transition: all .5s;*/
/*}*/
/*#endregion*/
/*#region Phải qua trái*/
nav ul {
    position: fixed;
    width: 40%;
    height: 200px;
    margin-left: 60%;
    padding-left: 20px;
    background: var(--navbar-hidden);
    box-shadow: 0 5px 20px #888888;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 80px;
    left: 100%;
    text-align: left;
    /*transition: all .5s;*/
}
/*#endregion*/
