<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../static/bootstrap4/bootstrap.min.css">
</head>
<body>
<div th:fragment="nav">
  <!--#region menu-->
  <nav class="navbar navbar-expand-lg  navbar-dark bg-success my-2 pl-5 border border-info  sticky-top">
    <a class="navbar-brand mx-5" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-5">
          <a class="navbar-brand mr-0" href="questions">Question <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  mr-5">
          <a class="navbar-brand mr-0" href="#">Task 2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-5 ">
          <a class="navbar-brand mr-0" href="#">Task 3 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-5 ">
          <a class="navbar-brand mr-0" href="#">Task 4 <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <!--#endregion-->
</div>
</body>
</html>