p {
    text-indent: 30px;
}

#text1 {
    color: dodgerblue;
}

span {
    /*text-decoration: none;*/
    color: #0645ad;
    font-family: Arial;
}

sup {
    font-size: 10px;
    font-weight: bold;
}