<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List</title>

  <link rel="stylesheet" href="/bootstrap4/bootstrap.min.css">

</head>
<body class="m-2">

<!--#region header-->
<nav class="navbar navbar-light bg-light border border-info ">
  <div class="navbar-brand mb-0 h1 d-flex align-items-center">
    <img class="ml-3 rounded shadow-lg" src="img/logo3.jpg" height="50" width="50"/>
    <div class="ml-2">Furama</div>
  </div>
  <div class="navbar-brand h1 text-info"><h1>Employee list</h1></div>
  <div class="navbar-brand mb-0 h1">Nguyễn Văn A</div>
</nav>
<!--#endregion-->

<div th:replace="layout :: nav"></div>

<!--#region header-->
<div class="container-fluid">
  <div class="row">
    <div class="col-3 p-0">
      <a href="/employees/create" class="btn btn-primary"><span
              style="font-size: larger; font-weight: bolder">+</span>
        Create new Employee
      </a>
    </div>
    <div class="col-6">
      <span class="text-success" th:text="${msg}"></span>
    </div>
    <div class="col-3 p-0">
      <form class="d-flex justify-content-end">
        <input class="form-control" type="search" placeholder="Search name" aria-label="Search"
               name="search">
        <button class="btn btn-primary  my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<!--#endregion-->

<!--#region table-->
<table class="table table-hover my-2" id="tableCustomer">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Position</th>
    <th scope="col">Division</th>
    <th scope="col">Degree</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
    <tr th:each="e, loop : ${employees}">
      <th th:text="${loop.count}"></th>
      <td th:text="${e.id}"></td>
      <td th:text="${e.employeeName}"></td>
      <td th:text="${e.phone}">}</td>
      <td th:text="${e.position.positionName}"></td>
      <td th:text="${e.division.divisionName}"></td>
      <td th:text="${e.educationDegree.degreeName}"></td>
      <td>
        <a th:href="@{/employees/edit/{id}(id=${e.id})}" type="button" class="btn btn-warning">
          Edit
        </a>

        <!-- Button trigger modal DELETE -->
        <!--        <button  th:onclick="'myFunction(\'' + ${customer.id} + '\');'"  type="button"-->

<!--        <button th:onclick="'myFunction(\''+${e.id}+'\');'" type="button" class="click-del btn btn-danger"-->
<!--                data-toggle="modal" data-target="#delete">-->
<!--          Delete-->
<!--        </button>-->
<!--        &lt;!&ndash; Modal &ndash;&gt;-->
<!--        <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--             aria-hidden="true">-->
<!--          <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--              <div class="modal-body fborder border-secondary rounded">-->
<!--                Do you want customer?-->
<!--              </div>-->
<!--              <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <form action="/employees/delete" method="post">-->
<!--                  <button type="submit" class="btn btn-danger">Delete</button>-->
<!--                  <input type="hidden" id="button-del" name="idDel">-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <!--end model-->


        <!-- Button trigger modal DELETE -->
        <!--        <button  th:onclick="'myFunction(\'' + ${customer.id} + '\');'"  type="button"-->
        <button  th:data-parameter1="${e.id}" th:data-parameter2="${e.employeeName}"
                 onclick="myFunction(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'))"  type="button"
                 class="click-del btn btn-danger btnDisplay"
                 data-toggle="modal" data-target="#delete">
          Delete
        </button>
        <!-- Modal -->
        <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body fborder border-secondary rounded">
                Do you want customer?
                <br><h3>Name:<span id="delCustomerName"></span></h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/employees/delete" method="post">
                  <button type="submit" class="btn btn-danger">Delete</button>
                  <input type="hidden" id="button-del" name="idDel">
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--end model-->


      </td>
    </tr>
  </tbody>
</table>
<!--#endregion-->

<!--#region phân trang-->
<div>
  <a class="btn btn-outline-success" th:href="@{'/employees'(page=${employees.number - 1},keyWord=${search})}"
     th:if="${employees.hasPrevious()}">Previous</a>
  <span th:each="p : ${#numbers.sequence(0,employees.totalPages - 1) }" th:if="${employees.hasContent()}">
          <a class="btn btn-outline-success" th:href="@{'/employees'(page=${p},keyWord=${search})}"
             th:text="${p+1}"
             th:if="${(p>(employees.number)-1)&&(p<(employees.number+3))}"
          ></a>
    </span>
  <a class="btn btn-outline-success" th:href="@{'/employees'(page=${employees.number + 1},keyWord=${search})}" th:if="${employees.hasNext()}">Next</a>
</div>
<!--#endregion-->

<!--#region javascript-->
<script src="/bootstrap4/jquery-3.6.0.min.js"></script>
<script src="/bootstrap4/popper.min.js"></script>
<script src="/bootstrap4/bootstrap.min.js"></script>
<script src="/bootstrap4/jquery.dataTables.min.js"></script>
<script src="/bootstrap4/dataTables.bootstrap4.min.js"></script>
<!--#endregion-->

<script>
  function myFunction(id, name) {
    document.getElementById("button-del").value = id;
    document.getElementById("delCustomerName").innerText = name;
  }
</script>
</body>
</html>