<p>calculator works!</p>

<h4>Phép Cộng </h4>
<input type="number" [(ngModel)]="a"> + <input type="number" [(ngModel)]="b"> = <output [value]="a + b"></output><br>
<h4>Phép Trừ </h4>
<input type="number" [(ngModel)]="a"> - <input type="number" [(ngModel)]="b"> = <output [value]="a - b"></output><br>
<h4>Phép Nhân </h4>
<input type="number" [(ngModel)]="a"> * <input type="number" [(ngModel)]="b"> = <output [value]="a * b"></output><br>
<h4>Phép Chia </h4>
<input type="number" [(ngModel)]="a"> / <input type="number" [(ngModel)]="b"> = <output [value]="a / b"></output>
