<h1>Bài tập 1</h1>
<label>Chọn màu </label>
<select [(ngModel)]="color">
  <option value="blue">Primary</option>
  <option value="red">Danger</option>
  <option value="green">Success</option>
</select>

<br>
<label>Nhập kích thước</label>
<!--<input type="number" [(ngModel)]="size">-->
<input type="range" min="10" max="1000" [(ngModel)]="size">


<div [ngStyle]="{height: size +'px', width: size +'px', background: color, borderRadius: size/2 + 'px'}" ></div>

<h3>book works! 123</h3>
<input type="range" min="0" max="255" [(ngModel)]="red">
<input type="range" min="0" max="255" [(ngModel)]="blue">
<input type="range" min="0" max="255" [(ngModel)]="green">

<div style="width: 200px; height: 200px" [style]="{backgroundColor: 'rgb('+red +','+ blue+','+ green +')' }"></div>
<div style="width: 200px; height: 200px; background: rgb({{red}}, {{blue}}, {{green}})"></div>
