<div class="container">
  <div class="row mt-4">
    <div class="col-3"></div>
    <!--        <div class="col-6 fborder border-secondary rounded shadow animated bounce">-->
    <!--            <div class="col-6 fborder border-secondary rounded shadow animated bounceOut">-->
    <!--        <div class="col-6 fborder border-secondary rounded shadow animated flipInY">-->
    <!--        <div class="col-6 fborder border-secondary rounded shadow animated headShake">-->
    <!--        <div class="col-6 fborder border-secondary rounded shadow animated hinge">-->
    <!--        <div class="col-6 fborder border-secondary rounded shadow animated jello">-->
    <!--        <div class="col-6 fborder border-secondary rounded shadow animated lightSpeedIn">-->
    <!--        <div class="col-6 fborder border-secondary rounded shadow animated pulse">-->
    <div class="col-6 fborder border-secondary rounded shadow animated zoomInDown">
      <!--        <div class="col-6 fborder border-secondary rounded shadow">-->
      <h2 class="text-white text-center bg-info px-5 py-2 mt-2 rounded">Create new customer</h2>
      <form class="animated bounceInLeft ">
        <table class="table table-borderless">
          <tbody>
          <tr id="userName">
            <td>Name</td>
            <td colspan="3"><input class="form-control" type="text" value="" name="name"
                                   placeholder="Customer Name"></td>
          </tr>
          <tr>
            <td>Birthday</td>
            <td><input class="form-control" type="date" value="" name="name"></td>
            <td>Gender</td>
            <td>
              <select class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td colspan="3"><input class="form-control" type="email" value="" name="email"
                                   placeholder="abc@gmail.com"></td>
          </tr>
          <tr>
            <td>Id card</td>
            <td style="width: 5px"><input class="form-control" type="text" name="card" placeholder="KH-XXXX"></td>
            <td>Type</td>
            <td>
              <select class="form-control">
                <option value="Diamond">Diamond</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Address</td>
            <td colspan="3"><input class="form-control" type="text" name="address" placeholder="Customer Address"></td>
          </tr>
          <tr>
            <td><input class="btn btn-secondary" type="submit" value="Back"></td>
            <td colspan="3" class="text-right"><input class="btn btn-primary" type="submit" value="Create"></td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
