@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}


/*#region CONTENT TITLE*/
.content .section-title span {
    text-transform: uppercase;
}
.section-bg {
    width: auto;
    height: 100vh;
    color: white;
    background: url("../../img/home.jpg");
    background-size: cover;
}

.section-bg-overlay {
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.8);
    padding: 100px 100px 20px;
    box-sizing: border-box;
}

.section-title {
    text-align: center;
    font-weight: bold;
    color: yellow;
    font-size: 30px;
    display: flex;
}

.section-title b {
    margin: 24px;
    flex: 1;
    height: 2px;
    opacity: .1;
    background: currentColor;
}

.section-title-sup {
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
}

.section-content {
    display: flex;
}

.section-content-left, .section-content-right {
    width: 50%;
    height: 50%;
    padding: 0 30px 10px;
}

.section-content-left img {
    width: 100%;
    height: 100%;
}


.section-content-right .section-content-title {
    color: orange;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 10px;
    border-bottom: 2px solid rgba(150, 150, 150, 0.62);
}

.section-content-sup {
    padding: 20px 0;
    font-size: 20px;
}

.title-bottom {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid yellowgreen;
    border-radius: 10px;
    /*transition: 0.5s!important;*/
}

/*#endregion*/

/*#region CONTENT LIST CARD*/
.my-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.my-card {
    width: 20%;
    box-sizing: border-box;
    padding: 10px ;
    border-radius: 10px;
}
.my-card-zoom {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: inherit;
    box-shadow: 0 10px 20px #999;
    transition: .3s ease;
    z-index: 1;
}

.my-card:hover .my-card-zoom{
    transform: scale(1.1);
    box-shadow: 0 50px 100px #727272;
}
.card-item-cover {
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s linear;
    z-index: 1;
}

.my-card:hover .card-item-cover {
    height: 100%;
}
.card-item-cover a {
    display: none;
    transition: .3s linear;
}
.my-card:hover .card-item-cover a {
    display: block;
}
.card-item-cover a:first-child {
    width: 90.84px;
    color: white;
    margin-bottom: 4px;
}
.card-item-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.card-item-text {
        width: 100%;
        height: 50px;
        color: white;
        padding-left: 10px  ;
        background: rgba(255, 0, 0, 0.5);
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
}
@media (max-width: 995px) {
    .section-content-left {
        display: none;
    }
    .section-content-right {
        width: 100%;
        height: 200px
    }
}
@media (max-width: 768px) {
    .section-bg {
        height: 500px;
    }
    .section-bg-overlay {
        padding-top: 70px;
    }
    .section-title {
        height: 30px;
        font-size: 16px;
    }
    .section-title-sup {
        font-size: 15px;
        padding: 5px 0 10px;
        margin-bottom: 0;
    }
    .section-content {
        flex-direction: column;
    }
    .section-content-title {
        font-size: 14px!important;
    }
    .section-content-sup {
        font-size: 14px;
        padding-top: 10px;
    }
    .title-bottom {
        font-size: 14px;
        margin-top: 10px;
    }
    .section-bg-overlay {
        padding: 100px 20px 20px;
    }
    .my-card {
        width: 33.33%;
    }
}
