td:first-child, td:nth-child(3) {
  line-height: 40px;
}

input, select {
  box-shadow: 1px 1px #637fff;
}
.myForm{
  background-color: rgba(0,0,0,0.5) !important;
  padding: 15px !important;
  border-radius: 15px !important;
  color: white;

}
