<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create customer</title>
  <link rel="stylesheet" href="/bootstrap4/bootstrap.min.css">
  <style>
    td:first-child {
      width: 24%;
      line-height: 40px;
    }

    td {
      padding: 5px !important;
    }

    input {
      box-shadow: 1px 1px #637fff;
    }
  </style>

</head>
<body>
<div class="container">
  <div class="row m-3">
    <div class="col-3"></div>
    <div class="col-6 fborder border-secondary rounded shadow">
      <h2 class="text-white rounded bg-info px-5 py-2 mt-2">Create new contract detail</h2>
      <p th:class="${msg} == 'Fail'? 'text-danger':'text-success'" th:text="${msg}">
      </p>

      <form method="post" th:object="${contractDetailDto}">
        <div class="container-fluid">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Contract</label>
            <div class="col-sm-8">
              <select class="form-control" th:field="*{contract}" >
                <option th:each="c:${contractList}" th:value="${c.id}" th:text="${'Mã hợp đồng: ' + c.id + ' - ' +c.customer.customerName}"></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Attach Service</label>
            <div class="col-sm-8">
              <select class="form-control" th:field="*{attachService}" >
                <option th:each="a:${attachServiceList}" th:value="${a.id}" th:text="${a.attachServiceName}"></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
              <p class="text-danger" th:errors="*{quantity}"></p>
              <input type="number" class="form-control" th:field="*{quantity}">
            </div>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <a href="/contractDetails" class="btn btn-secondary">Close</a>
            <input class="btn btn-success" type="submit" value="Create">
          </div>

        </div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>


<script src="/bootstrap4/jquery-3.6.0.min.js"></script>
<script src="/bootstrap4/popper.min.js"></script>
<script src="/bootstrap4/bootstrap.min.css"></script>
</body>
</html>