<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    npm i creditcardpayments-->
    <script src="ttps://www.paypal.com/sdk/js?client-id=AbnnpqkZWFt3p_vsAq9MTYGktX4-6iq1LQVNQlSCVSFPxZ-wNFmL65aE0JGqu4E8a1nzUDX8XkP2amk6"></script>
</head>
<body>
<h1>Paypal Payment with Spring Boot - ShareEverythings.com</h1>
<form method="post" th:action="@{/pay}">
    <input type="text" value="5" name="price" />
    <button type="submit"> Payment with Paypal </button>
</form>
</body>
</html>