<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Delete customer</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/blogs">Customer list</a>
</p>
<form th:action="@{/deleteBlog}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Id</td>
            <th th:text="${blog.id}"></th>
        </tr>
        <tr>
            <td>Author</td>
            <th th:text="${blog.author}"></th>
        </tr>
        <tr>
            <td>Title</td>
            <th th:text="${blog.title}"></th>
        </tr>
        <tr>
            <td>Comment</td>
            <th th:text="${blog.comment}"></th>
        </tr>
        <tr>
            <td>Count like</td>
            <th th:text="${blog.countLike}"></th>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>