<div class="container">
  <h3><span>GIỎ HÀNG</span> > <a href="#">THANH TOÁN</a> > HOÀN TẤT</h3>
  <div id="main">
    <div id="left">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Sản phẩm</th>
          <th scope="col">Giá</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Tổng tiền</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medicine of medicines, index as i">
          <td class="d-flex">
            <a (click)="delMedicine(i)"><i class="fa fa-times bi" aria-hidden="true"></i></a>
            <img [src]="medicine.img" alt=""
                 width="70px"
                 height="70px">
            <div>
              <a href="#">{{medicine.info}}</a>
            </div>
          </td>
          <td>{{medicine.unit | currency: 'VND' : true : '1.0-0' : 'fr'}}</td>
          <td>
            <div>
              <input type="button" value="-" (click)="medicineSub(i)">
              <input type="text" [value]="medicine.amount">
              <input type="button" value="+" (click)="medicineAdd(i)">
            </div>
          </td>
          <td>{{medicine.price | currency: 'VND' : true : '1.0-0' : 'fr'}} </td>
        </tr>
        <tr>
          <td colspan="4">
            <a href="#" class="btn btn-outline-primary">TIẾP TỤC XEM SẢN PHẨM</a>
            <a class="btn btn-primary" (click)="update()">CẬP NHẬT GIỎ HÀNG</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="right">
      <table class="table">
        <thead>
        <tr>
          <th>
            <div>Tổng số lượng</div>
            <div>{{medicineTotal}}</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>Tạm tính</div>
            <div>{{moneyTotal | currency: 'VND' : true : '1.0-0' : 'fr'}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <div>Phí vận chuyển</div>
            <div>{{30000 | currency: 'VND' : false : '1.0-0' : 'fr'}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <div>Tổng tiền</div>
            <div>{{moneyTotal + 30000 | currency: 'VND' : true : '1.0-0': 'fr'}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <div>Tỷ giá USD ({{currencyDateNow | date :'dd/MM/yyy' }}) </div>
            <div>{{currencyMoney | currency: 'VND' : '' : '1.0-0' : 'fr' }}</div>
          </td>
        <tr>
          <td>
            <div>Tổng tiền Paypal</div>
            <div>{{moneyPayPal |  currency : "USD" :'$': '1.0-2': 'fr'}}</div>
          </td>
        </tr>
        </tbody>
      </table>
      <div  class="text-center" id="myPaypalButton">
      </div>
      <table class="table">
        <thead>
        <tr>
          <th><i class="bi bi-tag"></i> Phiếu ưu đãi</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input type="text" placeholder="Mã ưu đãi" class="form-control"></td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-primary rounded-pill">Áp dụng</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
