<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="bootstrap4/bootstrap.min.css">

</head>
<body class="m-2">
<!--#region header-->
<nav class="navbar navbar-light bg-light border border-info ">
  <div class="navbar-brand mb-0 h1 d-flex align-items-center">
    <img class="ml-3 rounded shadow-lg" src="img/logo3.jpg" height="50" width="50"/>
    <div class="ml-2">Furama</div>
  </div>
  <div class="navbar-brand h1 text-info"><h1>Welcome to Furama</h1> </div>
  <div class="navbar-brand mb-0 h1">


    <th:block th:if="${#request.userPrincipal == null}">
      <a class="btn btn-outline-dark" href="/login">Login</a> <br> <br>
    </th:block>


    <th:block th:if="${#request.userPrincipal != null}">
      <span th:text="${#request.userPrincipal.name}"></span>
      <a class="btn btn-outline-dark" href="/logout">Logout</a>
    </th:block>

  </div>
</nav>
<!--#endregion-->

<div th:replace="layout :: nav"></div>

<!--#region main-->
<div class="container-fluid">
  <div class="row "  style="box-sizing: border-box">
    <div class="col-3 p-0 bg-light ">
      <ul class="border m-0 border-info" style="height: 500px; list-style: none">
        <li class="mt-5">Item one</li>
        <li class="mt-5">Item two</li>
        <li class="mt-5">Item three</li>
      </ul>
    </div>
    <div class="col-9 border border-info border-left-0">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 300px">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="height: 300px">
          <div class="carousel-item active">
            <img src="img/hinh1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/hinh2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/hinh3-min.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!--#endregion-->

<!--#region footer-->
<div class="pt-4  bg-light text-center mt-2 border border-info" style="height: 69px">
  hello
</div>
<!--#endregion-->


<script src="bootstrap4/jquery-3.6.0.min.js"></script>
<script src="bootstrap4/popper.min.js"></script>
<script src="bootstrap4/bootstrap.min.js"></script>
</body>
</html>
