<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="xoaModal(andressController)">
  <div class="modal fade" id="xoa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="xoaLabel">Confirm xoá</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn có muốn xoá <input type="text" readonly id="test" size="3"/> này không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" th:onclick="'submitFormDelete()'">DELETE</button>
        </div>
      </div>
    </div>
  </div>
  <form th:action="@{${andressController}}" id="formDelete" th:method="post">
    <input type="hidden" name="idDelete" id="idDelete"/>
  </form>
  <script>


    function setIdDeleteToForm(id) {
      document.getElementById("idDelete").value = id;
      document.getElementById("test").value = id;
      console.log(id)

    }

    function submitFormDelete() {
      document.getElementById("formDelete").submit();

    }

    function rollback() {
      document.getElementById("default").submit();
    }



  </script>

</div>
</body>
</html>