<div class="container card bg-white">
  <form [formGroup]="createForm" (ngSubmit)="submit()">

    <mat-form-field class="example-full-width">
      <mat-label style="font-size: 20px" class="mb-3">
        Name
        <span class="text-danger" *ngFor="let valid of validateMsg.name">
          <small *ngIf="getValidate('name', valid)"> ------  {{valid.msg1}}</small>
        </span></mat-label>
      <input name="name" formControlName="name" matInput placeholder="This is your name" class="form-control"
             style="margin-top: 10px" type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label style="font-size: 20px" class="mb-3">
        Price
        <span class="text-danger" *ngFor="let valid of validateMsg.price">
          <small *ngIf="getValidate('price', valid)"> ------  {{valid.msg1}}</small>
        </span></mat-label>
      <input name="price" formControlName="price" matInput placeholder="Price > 0" class="form-control"
             style="margin-top: 10px">
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label style="font-size: 20px" class="mb-3">
        Birthday
        <span class="text-danger" *ngFor="let valid of validateMsg.date">
          <small *ngIf="getValidate('date', valid)"> ------  {{valid.msg1}}</small>
        </span></mat-label>
      <input name="date" formControlName="date" matInput placeholder="Start date" class="form-control"
             style="margin-top: 10px" type="date">
    </mat-form-field>
    <mat-form-field class="example-full-width mt-3">
      <mat-label style="font-size: 20px" class="mb-5">
        Type
        <span class="text-danger" *ngFor="let valid of validateMsg.productType">
          <small *ngIf="getValidate('productType', valid)">------  {{valid.msg1}}</small>
        </span>
      </mat-label>
      <select matNativeControl name="productType" formControlName="productType">
        <option *ngFor="let pt of productTypes" [ngValue]="pt" [selected]="1">{{pt.name}}</option>
      </select>
    </mat-form-field>
    <div class="text-right">
      <button routerLink="/product" class="btn btn-secondary">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="!createForm.valid">Create</button>
    </div>

  </form>
</div>
