#wrapper {
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fxaydungnhandat.com.vn%2Fthiet-ke-van-phong-lam-viec%2F&psig=AOvVaw3YahrU42Fy9hT92f4mdANI&ust=1631369109849000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNi6r9zJ9PICFQAAAAAdAAAAABAD");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    position: relative;
}

.form-input {
    height: 38px;
    font-size: 1rem;
    padding-left: 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid red;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.form-label {
    color: #999;
    position: absolute;
    top: 20%;
    left: 30px;
    transition: .3s;
}

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
    top: -30%;
    left: 20px;
    font-size: 14px;
}
.form-icon {
    position: absolute;
    top: 30%;
    left: 10px;
}
