<h1 class="text-center text-info"> Danh sách bệnh nhân</h1>
<div class="row mb-2 mx-0">
<!--  <div class="col-2  mt-3">-->
<!--    <a class="btn btn-primary" routerLink="/benhNhan/create">Thêm bệnh nhân</a>-->
<!--  </div>-->
<!--  <div class="col-5">-->
<!--  </div>-->
<!--  <div class="col-5">-->
<!--  </div>-->
</div>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th>STT</th>
    <th>Mã bệnh án</th>
    <th>Mã bệnh nhân</th>
    <th>Tên bệnh nhân</th>
    <th>Ngày nhập viên</th>
    <th>Ngày ra viện</th>
    <th>Lý do nhập viện</th>
    <th>Phương pháp điều trị</th>
    <th>Bác sĩ điều trị</th>
    <th colspan="2">Hành động</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of benhNhanList; index as i">
    <td>{{i + 1}}</td>
    <td>{{b.maBenhAn}}</td>
    <td>{{b.maBenhNhan}}</td>
    <td>{{b.ten}}</td>
    <td>{{b.ngayNhapVien| date:'dd/MM/yyyy'}}</td>
    <td>{{b.ngayRaVien| date:'dd/MM/yyyy'}}</td>
    <td>{{b.lyDoRaVien}}</td>
    <td>{{b.benhAn.ten}}</td>
    <td>{{b.bacSi.ten}}</td>
    <td><a class="btn btn-warning" [routerLink]="['/benhNhan/edit',b.id]">Edit</a></td>
    <td><!-- Button trigger modal -->
      <button type="button" class="btn btn-danger" (click)="removeDialog(b)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
